/* .statistics{
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: aquamarine;
  overflow: hidden;
}

.statistics-1{
  margin-top: 10%;
   line-height: 0;
}

.statistics-2{
  margin-top: 12%;
  line-height: 0;
}

.statistics-3{
  margin-top: 12%;
  line-height: 0;
} */

.statistics {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;

  overflow: hidden;
}

.statistics-1 {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.statistics-2 {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.statistics-3 {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.statistics-4 {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}
