<mat-card  style="margin-top:1em; margin-bottom:1em">
  <mat-card-header>
    <div
      mat-card-avatar
      class="example-header-image"
      (click)="consoleLog()"
    ></div>
    <mat-card-title>Kanji</mat-card-title>
    <mat-card-subtitle>
      <font color="blue">30</font>
      <font color="green"> 30</font>
      <font color="red"> 30</font>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-expansion-panel class="mat-elevation-z0" hideToggle="true">
      <mat-expansion-panel-header style="position: absolute; left: 0px; top: 0px; height: 200%; width: 100%; background: 0%">
      </mat-expansion-panel-header>

      <study-graph></study-graph>

      <mat-action-row>
        <button mat-raised-button color="primary">Study</button>
        <button mat-raised-button color="primary">Statistics</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- <study-graph></study-graph> -->
  </mat-card-content>
  <!-- <mat-divider [inset]="true"></mat-divider>
  <mat-card-actions>
    <button mat-flat-button color="primary">Study</button>
    <button mat-raised-button>Statistics</button>
    <button mat-raised-button>Settings</button>
  </mat-card-actions>
  <mat-card-footer>Left: 50</mat-card-footer> -->
</mat-card>

<!-- <mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Personal data
    </mat-panel-title>
    <mat-panel-description>
      Type your name and age
      <mat-icon>account_circle</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <study-graph></study-graph>

  <mat-action-row>
    <button mat-raised-button color="primary">Study</button>
    <button mat-raised-button color="primary">Statistics</button>
  </mat-action-row>
</mat-expansion-panel> -->
