<mat-card style="margin-top:1em; margin-bottom:1">
  <mat-card-header style=" margin-bottom: -1.05em">
    <div mat-card-avatar class="example-header-image" (click)="consoleLog()"></div>
    <mat-divider [vertical]="true" [ngClass]="
        headerDividerInset ? 'vertical-divider' : 'vertical-divider-expanded'
      "></mat-divider>
    <!-- MenuButton -->
    <div>
      <button mat-button [ngClass]="
          headerDividerInset ? 'header-button' : 'header-button-expanded'
        ">
        <mat-icon [inline]="true">filter_none</mat-icon>
      </button>
    </div>
    <!-- Text -->
    <mat-card-title>{{deckName}}</mat-card-title>
    <mat-card-subtitle>
      <font color="blue">{{cardsNew}}</font>
      <font color="green"> {{cardsReview}}</font>
      <font color="red"> {{cardsLearning}}</font>
      <mat-divider inset="{{ headerDividerInset }}"></mat-divider>
    </mat-card-subtitle>
  </mat-card-header>
  <!-- Content -->
  <mat-card-content>
    <mat-expansion-panel class="mat-elevation-z0" hideToggle="true">
      <mat-expansion-panel-header
        style="position: absolute; left: 0px; top: 0px; height: 100%; width: 80%; background: 0%;"
        (click)="changeDivider()">
      </mat-expansion-panel-header>



      <!-- <div class='expander'>
        <div class='expander-left'>
          <study-graph></study-graph>
        </div>

        <div class='expander-right'>
          <deck-statistics></deck-statistics>
        </div>
      </div> -->
      <div id="container">
        <div id='left-column'>
          <study-graph></study-graph>
        </div>

        <div id='right-column'>
          <deck-statistics></deck-statistics>
        </div>
      </div>




      <!-- Content Buttons -->
      <mat-action-row>
        <button mat-raised-button color="primary">Statistics</button>
        <button mat-raised-button color="primary">Settings</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
