.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://static.thenounproject.com/png/186563-200.png");
  background-size: cover;
  z-index: 3;
}

.header-button {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 75px;
  width: 15%;
  background-size: cover;
  z-index: 3;
  font-size: 30px;
}

.header-button-expanded {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 59px;
  width: 15%;
  background-size: cover;
  z-index: 3;
  font-size: 30px;
}

.vertical-divider {
  height: 45px;
  position: absolute;
  right: 15%;
}

.vertical-divider-expanded {
  height: 30px;
  position: absolute;
  right: 15%;
}

#expander {
  position: relative;
  padding-top: 10px;
  min-height: 65px;
  min-width: 340px;
}

#left-column {
  width: 48%;
}

#right-column {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 50%;
}
