<div class="horizontal-container">
    <div><font class="color-green">22 </font><font class="color-blue">32 </font><font class="color-red">1</font></div>
  
  <mat-progress-bar
    mode="determinate"
    value="40"
    class="green-progress green-buffer"
  ></mat-progress-bar>
  <!-- <mat-progress-bar mode="determinate" value="30" class="blue-progress blue-buffer"></mat-progress-bar>
  <mat-progress-bar mode="determinate" value="90" class="red-progress red-buffer"></mat-progress-bar> -->
</div>
