<!-- <mat-list>
  <mat-list-item>
    <div cdkDrag>
      <mat-accordion class="example-headers-align">
        <cards></cards>
      </mat-accordion>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div cdkDrag>
      <mat-accordion class="example-headers-align">
        <cards></cards>
      </mat-accordion>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div cdkDrag>
      <mat-accordion class="example-headers-align">
        <cards></cards>
      </mat-accordion>
    </div>
  </mat-list-item>
</mat-list> -->

<!-- <div class="middle">
  <div>
    <mat-accordion class="example-headers-align">
      <cards></cards>
    </mat-accordion>
  </div>
  <div>
    <mat-accordion class="example-headers-align">
      <cards></cards>
    </mat-accordion>
  </div>
  <div>
    <mat-accordion class="example-headers-align">
      <cards></cards>
    </mat-accordion>
  </div>
</div> -->




<div class="middle">
  <div *ngFor='let deck of decks'>
    <mat-accordion class="example-headers-align">
      <cards [deck]='deck'></cards>
    </mat-accordion>
  </div>
</div>
