<mat-card class="card">


  <mat-card-content class="card-body">

    <div>
      <div
        *ngFor="let cardItem of curCardValues"
        [style.font-size.vmin]="cardItem.fontSize"
        style="flex-grow: 1"
      >
        <div *ngIf="cardItem.onFront">
          <font>{{ cardItem.valueTitle }}: {{ cardItem.value }}</font>
        </div>
      </div>

      <div *ngIf="!frontShowing">
        <mat-divider inset="true"></mat-divider>
        <div
          *ngFor="let cardItem of curCardValues"
          [style.font-size.vmin]="cardItem.fontSize"
          style="flex-grow: 1"
        >
          <div *ngIf="!cardItem.onFront">
            <font>{{ cardItem.valueTitle }}: {{ cardItem.value }}</font>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>

  <mat-divider inset="true"></mat-divider>

  <mat-card-actions class="button-box">
    <button
      *ngIf="frontShowing"
      mat-button
      class="buttons"
      (click)="flipCard()"
    >
      Flip
    </button>
    <button
      *ngIf="!frontShowing"
      mat-button
      class="buttons"
      (click)="rateCard()"
    >
      Hard({{ hard }})
    </button>
    <button
      *ngIf="!frontShowing"
      mat-button
      class="buttons"
      (click)="rateCard()"
    >
      Good({{ good }})
    </button>
    <button
      *ngIf="!frontShowing"
      mat-button
      class="buttons"
      (click)="rateCard()"
    >
      Easy({{ easy }})
    </button>
  </mat-card-actions>
</mat-card>
